body {
    background: #5c1840;
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding: 40px 20px;
}

/* SECTION HEADING */
section {
    width: 100%;
    max-width: 1100px;
}
section h1 {
    font-size: 2.4rem;
    color: #f8f8f4; 
    letter-spacing: 1px;
    font-weight: 600;
   
    text-shadow: 0 2px 4px rgba(0,0,0,0.65),
                 0 0 6px rgba(255,255,255,0.16);
    transition: color 0.2s ease, text-shadow 0.25s ease;
}
section p {
    color: #fff;
    margin-bottom: 40px;
    font-size: 1rem;
}
.blog-section {
    background: #b95390;
    padding: 60px 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

/* BLOG GRID */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    width: 100%;
    margin-bottom: 40px;
}
.blog-card {
    background: #f8d8ec;
    border-radius: 10px;
    border: 4px solid #afb63b;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}
.blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(85, 4, 87, 0.4);
}
.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.blog-content {
    padding: 10px 20px;
}
.blog-content h3 {
    color: #5c1840;/* #0f172a; */
    margin-bottom: 8px;
}
.blog-content .meta {
    font-size: 0.8rem;
    color: #64748b;
    margin-bottom: 12px;
}
.blog-content p {
    font-size: 0.9rem;
    color: #475569;
    margin-bottom: 10px;
}
.blog-content a {
    text-decoration: none;
    color: #5c1840;
    font-weight: 600;
}
.blog-content a:hover {
    text-decoration: underline;
}

/* BUTTON BELOW CARDS */
.learn-btn {
    background: linear-gradient(90deg, #afb63b, #8c9215);
    color: white;
    border: 1px solid #fff;
    padding: 14px 40px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5 ease;
}
.learn-btn:hover {
    transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    section h1 {
        font-size: 1.8rem;
    }
}
